@model MvcOnlineTicari.Models.Siniflar.Duyuru
@{
    ViewBag.Title = "DuyuruEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<br />
<h2>YENİ DUYURU EKLEME SAYFASI</h2>

<form class="form-group" method="post">

    <div style="margin-top:20px">
        <label>KONU</label>
        @Html.TextBoxFor(k => k.Kategori, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>İÇERİK</label>
        @Html.TextBoxFor(k => k.icerik, new { @class = "form-control" })
    </div>
    <div style="margin-top:20px">
        <label>TARİH</label>
        @Html.TextBoxFor(k => k.Tarih, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <button class="btn btn-info" id="Btn1">Duyuru Kaydet</button>
    </div>
    <script>
        $('#Btn1').click(function () {
            swal({
                title: "Duyuru Ekle!",
                text: "Başarılı bir şeklide eklendi.",
                icon: "success",
                button: "Devam Et",
            })
        });
    </script>
</form>

