@using MvcOnlineTicari.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>DEPARTMANLAR</h2>
<br />
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>DEPARTMAN ADI</th>
            <th>DURUM</th>
            <th>GÜNCELLE</th>
            <th>SİL</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    @foreach (var dprtmn in Model)
    {
        <tr>
            <td>@dprtmn.DepartmanAd</td>
            @if (dprtmn.Durum == true)
            {
                <td>Aktif</td>
            }
            @if (dprtmn.Durum == false)
            {
                <td>Pasif</td>
            }
            <td>
                <a class="btn btn-success btn-sm" href="/Departman/DepartmanGetir/@dprtmn.DepartmanID">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Güncelle
                </a>
            </td>

            <td>
                @Html.ActionLink("Sil", "DepartmanSil",
        new { id = dprtmn.DepartmanID },
        new
        {
        @class = "btn btn-danger",
        onclick = "return confirm('Kayıt Pasife Alınacaktır, Devam Etmek İstiyor musunuz?')"
        })
            </td>
            <td>
                <a class="btn btn-success" style="background-color:cadetblue" href="/Departman/DepartmanDetay/@dprtmn.DepartmanID">
                    <i class="fas fa-info-circle"></i>
                    Detay
                </a>
            </td>
        </tr>
    }
</table>
<br />
<a href="/Departman/DepartmanEkle/" class="btn btn-primary">Yeni Departman Ekle</a>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>*@

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.js"></script>
<link href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>

